<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SenpAI</title>
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
</head>
<body>
    <content>
        <div class="background branding">
            <div style="opacity: 0.5;">senp</div><div>AI</div>
        </div>
        <form method="post">
            <label for="user_message">Please enter your user message here:</label>
            <input type="text" id="user_message" name="user_message"><span></span>
            <input type="submit" value="Submit">
        </form>
        {%- if user_message is defined %}
        <p>User Message: {{ user_message }}</p>
        {% endif %}
        {%- if response_message is defined %}
        <p>SenpAI Assistant Response: {{ response_message }}</p>
        {% endif %}
    </content>
    <script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>